@charset 'utf-8';

.field {
        font-size: 1.6rem;
        line-height: 2.6rem;
        * {
                line-height: inherit;
        }

        input, select {
                font-size: 1.6rem;
                border: 1px solid $color-text-1;
                background-color: lighten($color-gray-1, 5%);
        }

        &__label {
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
        }

        &__text {
                width: 100%;
                height: 4rem;
                padding: 0 1rem;
        }

        &__select {
                height: 4rem;
                color: $color-text-1;
                padding: 0 1rem;
                min-width: 15rem;
                //appearance: none;
                option {
                        color: $color-text-1;
                }
        }

        &__checkbox {
                display: none;
                &+label {
                        position: relative;
                }
                &+label::before {
                        content: '';

                        top: -0.2rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        position: relative;
                        margin-right: 1rem;
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid $color-text-1;
                        transition: all 0.3s;
                }
                &:checked+label::before {
                        background-color: $color-text-1;

                }

                &:checked+label::after {
                        transform: scale(0);
                        transition: all 0.5s;
                }

                &:checked+label::after {
                        content: '';
                        transform: scale(1) rotate(45deg);
                        width: 0.8rem;
                        height: 1.8rem;
                        position: absolute;
                        left: 0.8rem;
                        top: 0.1rem;
                        border-bottom: 2px solid white;
                        border-right: 2px solid white;
                }

        }

        &__message {

        }
}
