@charset 'utf-8';

.gdpr {
        color: $color-text-1;

        @include respond('small') {
                padding: 0 2rem;
        }

        &__heading {
                text-transform: uppercase;
        }

        p {
                font-size: 1.2rem;
                text-align: justify;
        }
}
