@charset 'utf-8';

.time-expired {
        position: absolute;
        top: -100%;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: rgba(white, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .5s all;
        text-align: center;

        &.active {
                top: 0;
                bottom: 0;
        }

        p {
                max-width: 50%;
                margin: 0 auto;
                font-size: 2rem;
                line-height: 2;
        }

        &__controls {
                text-align: center;
        }

        &__close, &__reset {
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 1.6rem;
                cursor: pointer;
        }

        &__close {
                font-weight: 700;
                margin-bottom: 2rem;
        }

        &__reset {

        }
 }
