@charset 'utf-8';

*,*::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
        line-height: 1.15;
}
html {
        font-size: 62.5%;

        @include respond('small') {
                font-size: 55%;
        }

}
body {
        box-sizing: border-box;
}

header, main, footer {
        display: block;
}

input, select, button {
        outline: none;
        border-radius: 0;
        border: none;
        background: transparent;
}

a {
        &:active, &:link, &:visited {
                text-transform: uppercase;
                text-decoration: none;
                color: $color-text-1;
                transition: all .2s;
        }
}

::selection {
        color: white;
        background: $color-red-1;
}
