@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=latin-ext);
@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);
@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1.15;
  font-family: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 767px) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box; }

header, main, footer {
  display: block; }

input, select, button {
  outline: none;
  border-radius: 0;
  border: none;
  background: transparent; }

a:active, a:link, a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #5c5c5c;
  transition: all .2s; }

::-moz-selection {
  color: white;
  background: #be2e30; }

::selection {
  color: white;
  background: #be2e30; }

body {
  font-family: 'Montserrat', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

header {
  flex-grow: 2; }

main {
  margin: 0 auto;
  flex-grow: 10; }

.form-container {
  margin-top: 5rem;
  width: 70rem; }
  @media (max-width: 767px) {
    .form-container {
      margin-top: 2rem;
      width: 100%; } }

.form {
  border: 1px solid #5c5c5c;
  color: #5c5c5c;
  position: relative;
  padding: 4rem;
  overflow: hidden; }
  @media (max-width: 767px) {
    .form {
      padding: 2rem;
      border: none; } }
  .form * {
    color: inherit; }
  .form__logo img {
    max-height: 2rem; }
  .form__heading {
    text-transform: uppercase;
    font-size: 3.1rem;
    font-weight: 600;
    letter-spacing: .3rem;
    cursor: default; }

.controls {
  text-align: justify;
  width: 100%;
  font-size: 1px;
  line-height: 0; }
  .controls button {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
    cursor: pointer; }
  .controls__submit {
    border: 1px solid #5c5c5c; }
  .controls__reset {
    border: 1px solid #be2e30;
    background-color: #be2e30;
    color: white; }
  .controls::after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0; }

.field {
  position: relative;
  font-size: 1.6rem;
  line-height: 2.6rem;
  overflow: hidden;
  padding-bottom: 2rem;
  padding-top: 0.1rem; }
  .field * {
    line-height: inherit; }
  .field input, .field select {
    font-size: 1.6rem;
    border: 1px solid #5c5c5c;
    background-color: #f1f3f3; }
    .field input:invalid, .field select:invalid {
      outline: none;
      box-shadow: none; }
  .field__must-be-valid + .field__message::after, .field__must-be-valid + label + .field__message::after {
    content: '';
    position: absolute;
    color: #be2e30;
    font-size: 1.2rem;
    display: block;
    font-weight: 500;
    transition: all .5s; }
  .field__must-be-valid:invalid {
    color: #be2e30;
    border: 1px solid #be2e30;
    background-color: white; }
    .field__must-be-valid:invalid + .field__message::after, .field__must-be-valid:invalid + label + .field__message::after {
      content: 'Mez\151   kit\F6lt\E9se k\F6telez\151!'; }
  .field__label {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block; }
  .field__text {
    width: 100%;
    height: 4rem;
    padding: 0 1rem; }
  .field__select {
    height: 4rem;
    color: #5c5c5c;
    padding: 0 1rem;
    min-width: 15rem; }
    .field__select option {
      color: #5c5c5c; }
  .field__checkbox {
    display: none; }
    .field__checkbox + label {
      position: relative; }
    .field__checkbox + label::before {
      content: '';
      top: -0.2rem;
      width: 2.5rem;
      height: 2.5rem;
      position: relative;
      margin-right: 1rem;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #5c5c5c;
      transition: all 0.3s; }
    .field__checkbox:checked + label::before {
      background-color: #5c5c5c; }
    .field__checkbox:checked + label::after {
      -webkit-transform: scale(0);
              transform: scale(0);
      transition: all 0.5s; }
    .field__checkbox:checked + label::after {
      content: '';
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      width: 0.8rem;
      height: 1.8rem;
      position: absolute;
      left: 0.8rem;
      top: 0.1rem;
      border-bottom: 2px solid white;
      border-right: 2px solid white; }
  .field__message {
    font-size: 1.2rem;
    font-weight: 700; }
  .field.error input, .field.error select {
    border-color: #be2e30;
    background: white;
    color: #be2e30; }
  .field.error .field__message {
    color: #be2e30; }

.gdpr {
  color: #5c5c5c; }
  @media (max-width: 767px) {
    .gdpr {
      padding: 0 2rem; } }
  .gdpr__heading {
    text-transform: uppercase; }
  .gdpr p {
    font-size: 1.2rem;
    text-align: justify; }

.contact {
  padding: 2rem;
  border-bottom: 1px solid #5c5c5c; }
  .contact li {
    display: inline-block; }
    .contact li:not(:last-child) {
      margin-right: 2rem; }
  .contact a {
    font-size: 1.4rem;
    padding: 0 0.5rem;
    line-height: 2.1rem; }
    .contact a::before {
      margin-right: 0.5rem; }
    .contact a:hover {
      color: white;
      background-color: #be2e30; }

.countdown {
  position: relative;
  overflow: hidden;
  height: 1.61rem; }
  .countdown__timer {
    position: absolute;
    font-size: 1.4rem;
    top: 100%;
    right: 0;
    transition: .3s all; }
  .countdown.active .countdown__timer {
    top: 0; }

.time-expired {
  position: absolute;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s all;
  text-align: center; }
  .time-expired.active {
    top: 0;
    bottom: 0; }
  .time-expired p {
    max-width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2; }
  .time-expired__controls {
    text-align: center; }
  .time-expired__close, .time-expired__reset {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer; }
  .time-expired__close {
    font-weight: 700;
    margin-bottom: 2rem; }

[class*='u-margin'] {
  display: block; }
  [class*='u-margin'] + * {
    display: block; }

.u-margin-small {
  margin-bottom: 0.5rem !important; }

.u-margin-medium {
  margin-bottom: 2rem !important; }

.u-margin-large {
  margin-bottom: 3rem !important; }

