@charset 'utf-8';

html {
        height: 100%;
}

body {
        height: 100%;
        background:white;;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
}

.container {
        min-height: 100%;
        display: flex;
        flex-direction: column;

}

header {

        flex-grow: 2;
}

main {
        margin: 0 auto;
        flex-grow: 10;
}
